body {
    background: white;
    height: auto;
}
header {
    background: linear-gradient(to top right, #99ff66 0%, #3399ff 100%);
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    border-bottom: solid 0.5px white;
    top: 0;
    z-index: 1000;
}

.btn-primary {
    background: rgb(30,30,30);
    color: white;
    border: none;
    border-color: rgb(30,30,30);
    transition: 0.5s;
}

.btn-primary:hover {
    background: rgb(30,30,30);
    border: none;
    border-color: rgb(30,30,30);
    color: grey;
    box-shadow: rgb(30,30,30) 0px 0px 8px;
    transition: 0.5s;
}
.btn-primary.focus, .btn-primary:focus {

    color: white;
    background-color: rgb(30,30,30);
    border: none;
    box-shadow: rgb(30,30,30) 0px 0px 8px;;

}
form .btn-primary {
    background: rgb(30,30,30);
    color: white;
    border: none;
    border-color: rgb(30,30,30);
}
.modal-title {
    justify-content: center;
    display: flex;
    margin-left: 188px;
}
#titre-header {
    position: fixed;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
#bouton-header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: end;
    right: 0;
    position: fixed;
    padding: 22px;

}
header .btn {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.btn {
    margin: auto;
    justify-content: end;
}

.btn-primary  {
    justify-content: center;
    display: flex;
}
header h1 {
    padding: 10px;
}
main {
    margin-top: 80px;
    height: 100%;
    width: 100%;
}
aside {
    background: rgb(30,30,30);
    color: white;
    width: 25%;
    height: 100%;
    position: fixed;
    display: none;
}
aside li {

    display: flex;
    justify-content: end;
    list-style-type: none;
    margin-right: 10px;
}
aside ul {
    margin-top: 20%;
}
.card {
    width: 20%;
    height: 362px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.card img {
    width: 100%;
    margin: auto;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}
article {
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 130px;
}

/* modal modal modal modal modal modal modal */
#modal {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0, 10%);
  display: none;
}
#modalConnexion {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0, 10%);
  display: none;
}
#modalInscription {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0, 10%);
  display: none;
}


#modalCommentaire {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0, 10%);
  display: none;
}


#form-bloc {
  width: 100%;
  height: 100%;
  display: flex;
}
#form-body {
  width: 600px;
  height: 300px;
  margin: auto;
  background: rgba(30,30,30,100%);
  border: rgb(15,15,15) solid 1px;
}
#form-body h4 {
  font-size: 20px;

  margin: 15px;
  text-shadow: cornflowerblue 0px 1px 10px;
}
#form-body {
  color: white;
  height: auto;
}
.form-div {
  margin: 20px;
  display: grid;
}
.btn {
  display: flex;
  justify-content: end;
  margin: 10px;
}
.form-btn input {
  height: 30px;
  width: 100px;
  background: white;
  border: rgb(30,30,30) solid 2px;
  cursor: pointer;
  transition: 0.25s;
}
.form-btn input:hover {
  background:rgb(113, 171, 236);
  transition: 0.25s;
}
.form-div input {
  width: 300px;
  height: 30px;
  margin: 20px;
  margin-left: 0;
  margin-top: 5px;
  display: grid;
  font-size: 18px;
  cursor: text;
  border-radius: 5px;
  border: rgb(30,30,30) 1px solid;
  transition: 0.25s;
}
.form-div input:hover {
  background:rgb(113, 171, 236);
  transition: 0.25s;
}
input:required:focus {
  border: solid red 1px;
}
#perso_img {
  margin: 0;
  height: auto;
  font-size: 17px;
  margin-top: 5px;
  cursor: auto;
}
/* fin modal fin modal fin modal fin modal fin modal  */

#inscription-btn, #Deconnexion-btn {
right: 43px;
top: 25px;
z-index: 5;
position: absolute;
}
#connexion-btn {
right: 143px;
top: 25px;
z-index: 5;
position: absolute;
}

#commentaire-btn { 
  left: 100px;
  top: 25px;
  z-index: 5;
  position: absolute;
  } 
   

/* commentaire */
label {
  display:block;
  margin-top:1%;
  letter-spacing: 1.5%;
  }
   
  /* Center the form  */
form {
  margin:0 auto;
  width:35%;
  }
   
  /* textbox and textarea styles */
.commentaire input, .commentaire textarea {
  width:80%;
  height:20%;
  background: #E5FCDF;
  padding:2%;
  margin-top:1%;
  color: #4A2A2B;
  border-radius:7px;
  border:1px solid green;
  }
   
  /* height for textarea */
textarea {
  height: 10%;
  }
   
/* Border style on focus */
  input:focus, textarea:focus {
  border:0.5% solid #97d6eb;
  }
   
/* submit button styles */
  #submit {
  width: 80%;
  height:20%;
  margin-top:4%;
  margin-bottom: 10%;
  cursor:pointer;
  color:#363E3F;
  }
   
  /* Change button looks on hover */
  #submit:hover {
  opacity:0.5;
  }


    /* Caroussel */
   
/* Pubs */
#les-promos{
	text-align:center;
}